.btn-explore{
    width: 20%;
    padding: 15px;
    border-radius: 10px;
    background-color: darkblue;
    color: white;
    font-size: 20px;
}

.most-demand{
    font-family: Arial, Helvetica, sans-serif;
}

.job-categories{
    font-size: 20px; 
}

.left-list{
    display: inline-flex;
    text-align: left;
    margin-right: 200px;
}

.right-list{
    display: inline-flex;
    text-align: left;
}

li{
    padding: 15px;
    font-size: 20px;
    
}